# OS junk
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/
*.coverage

# Django
db.sqlite3

# Environments
venv/
.env
.env.*

# staticfiles
staticfiles/

# Editors
.vscode/
.idea/

# Security Key
DjangoKey2.pem
